
    <h2 class="mt-8 mb-2 text-2xl">{{ collection.title }}</h2>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-2 mb-4">
    {% for product in collection.products limit:4 %}
        {% include 'daisy-product-card' %}
    {% endfor %}
    </div>
    <div class="text-right">
        <a class="btn btn-sm" href="{{ collection.handle }}">{{ lang.browse | def: 'Browse'}} {{ collection.title }} &rsaquo;</a>
    </div>